* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 229, 234);
}

#first-section .portfolio {
  width: 100%;
}
#first-section .portfolio .container-personal {
  margin: auto;
  max-width: 1100px;
  border-radius: 24px;
  background-color: rgb(255, 252, 252);
}
#first-section .portfolio .container-personal .personal-details-total {
  display: flex;
  justify-content: space-between;
}
#first-section .portfolio .container-personal .personal-details-total img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 50%;
}
#first-section .portfolio .right-personal-detail {
  width: 100%;
}
#first-section .portfolio .right-personal-detail .up-right {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
#first-section .portfolio .right-personal-detail .up-right .name-titel h1 {
  font-size: 24px;
  color: rgb(79, 79, 79);
}
#first-section .portfolio .right-personal-detail .up-right .name-titel p {
  font-size: 18px;
  color: rgb(130, 130, 130);
}
#first-section .portfolio .right-personal-detail .up-right .name-titel .contact p {
  font-size: 18px;
  color: rgb(79, 79, 79);
}
#first-section .portfolio .right-personal-detail .down-right {
  padding: 0 25px;
}
#first-section .portfolio .right-personal-detail .down-right p {
  max-width: 650px;
  color: rgb(130, 130, 130);
}

@media (max-width: 700px) {
  .up-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
#second-section .container-second {
  margin: auto;
  max-width: 1100px;
  padding-top: 20px;
}
#second-section .container-second .second-section-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#second-section .container-second .second-section-total .left-box {
  border-radius: 24px;
  background-color: rgb(255, 252, 252);
  width: 420px;
}
#second-section .container-second .second-section-total .left-box h3 {
  color: rgb(79, 79, 79);
}
#second-section .container-second .second-section-total .left-box p {
  color: rgb(79, 79, 79);
}
#second-section .container-second .second-section-total .right-box {
  border-radius: 24px;
  background-color: rgb(255, 252, 252);
  width: 420px;
}
#second-section .container-second .second-section-total .right-box h3 {
  color: rgb(79, 79, 79);
}
#second-section .container-second .second-section-total .right-box p {
  color: rgb(79, 79, 79);
}

@media (max-width: 887px) {
  .second-section-total {
    display: flex;
    gap: 10px;
  }
  .left-box {
    width: 210px;
  }
  .right-box {
    width: 210px;
  }
}
#section-third .container-third {
  margin: auto;
  max-width: 1100px;
  padding-top: 20px;
}
#section-third .third-section-total {
  width: 100%;
  background-color: rgb(255, 252, 252);
  border-radius: 24px;
  padding: 10px;
}
#section-third .third-section-total .allhobby {
  display: flex;
  justify-content: space-between;
}
#section-third .third-section-total h2 {
  text-align: center;
  color: rgb(79, 79, 79);
}
#section-third img {
  width: 300px;
  height: 230px;
  border-radius: 18px;
}
#section-third h4 {
  text-align: center;
  color: rgb(79, 79, 79);
}

@media (max-width: 887px) {
  .allhobby {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */